* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #0498fa;
  text-shadow: 3px 3px 4px #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: underline;
}

.description {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
} 

.description p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #050000;
  font-weight: bold;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
  justify-items: center;
  align-items: center;
}

.flashcards div {
  border: 10px solid #e7e7e7;
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  border-radius: 7px;
  aspect-ratio: 2/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

div.selected {
  border: 3px solid #b60505;
  background-color: #050000;
  color: #f7f7f7;
  font-weight: bold;
  cursor: pointer; 
}

